<div class="container">
  <div class="row">
    <!-- Sidebar Level 1 -->
    <div id="sidebar-main" class="col-md-4 sidebar">

      <!-- Title -->
      <h4>Start your route now!</h4>

      <!-- To add new location -->
      <%= render 'static_page/panel_add' %>
      <br>

      <!-- mode of transportation -->
      <div class="row">
        <div class="col-md-12">
          <div id="trans-mode" class="btn-group">
            <button type="button" class="btn btn-default btn-xs">
              Dri
            </button>
            <button type="button" class="btn btn-default btn-xs">
              Wal
            </button>
            <button type="button" class="btn btn-default btn-xs">
              Bic
            </button>
            <button type="button" class="btn btn-default btn-xs">
              Tra
            </button>
          </div>
        </div>
      </div>
      <hr>

      <!-- Locations added so far -->
      <h4>Selected Locations</h4>
      <%= render 'static_page/panel_location' %>
      <hr>

      <button id="calc-btn" type="button" class="btn btn-warning">
        Calculate Routes
      </button>
      <hr>

      <!-- Directions Panel starts -->
      <%= render 'static_page/panel_direction' %>

    <!-- end of sidebar -->
    <!-- Sidebar for saved routes -->
    <div id="sidebar-saved" class="col-md-4 sidebar" style="display:none;">

      <%= render 'static_page/panel_direction' %>
      <hr>
      <button id="return-btn" type="button" class="btn btn-warning">
        Return to Main Panel
      </button>

    </div>
    <!-- end of saved routes -->
  </div>

    <div class="col-md-8 col-md-offset-4 main">
      <div id="map-canvas" class="map-container">
      </div>
    </div>

  </div>

  <!-- Refine Location Dialog -->
  <%= render 'static_page/dialog_refine' %>
  
  <!-- User SignUp -->
  <%= render 'static_page/dialog_signup' %>

</div>