<div class="container">
  <div class="row">
    <!-- Sidebar Level 1 -->
    <div class="col-md-4 sidebar">

      <!-- Title -->
      <h4>Start your route now!</h4>

      <!-- To add new location -->
      <%= render 'static_page/panel_add' %>
      <br>

      <!-- mode of transportation -->

      <div class="row">
        <div class="col-md-12">
          <form>
            <fieldset class="well">
              <legend>Transportation Mode</legend>
              <div id="trans-mode">
                <input type="radio" id="mode-d" name="trans-mode">
                <label for="mode-d">Driving</label>
                <input type="radio" id="mode-w" name="trans-mode" checked="checked">
                <label for="mode-w">Walking</label>
                <input type="radio" id="mode-b" name="trans-mode">
                <label for="mode-b">Bycycling</label>
                <input type="radio" id="mode-t" name="trans-mode">
                <label for="mode-t">Transit</label>
              </div>
            </fieldset>
          </form>
        </div>
      </div>

      <!-- Locations added so far -->
      <h4>Selected Locations</h4>
      <%= render 'static_page/panel_location' %>
      <hr>

      <button id="calc-btn" type="button" class="btn btn-warning">
        Calculate Routes
      </button>
      <hr>

      <!-- Directions Panel starts -->
      <%= render 'static_page/panel_direction' %>

    </div>

    <!-- Sidebar for saved routes -->
    <div id="sidebar-saved" class="col-md-4 sidebar" style="display:none;">
      <div id="savedroutes-row" class="row">
        <h4 class="col-md-12">Your Saved Routes</h4>
        <div id="savedroutes-ins" class="col-md-12">
          <h3>Instructions</h3>
          <div><p>Click to view.</p></div>
        </div>
        <div id="savedroutes-acc" class="col-md-12">
          <div id="savedroutes-temp" style="display:none;" class="route-panel">
            <h3 class="route-title">Title</h3>
            <div class="route-content"><p></p></div>
          </div>
        </div>
      </div>
      <hr>
      <button id="return-btn" type="button" class="btn btn-warning">
        Return to Main Panel
      </button>
    </div>

    <div class="col-md-8 col-md-offset-4 main">
      <div id="map-canvas" class="map-container">
      </div>
    </div>

  </div>

  <!-- Refine Location Dialog -->
  <%= render 'static_page/dialog_refine' %>
  
  <!-- User SignUp -->
  <%= render 'static_page/dialog_signup' %>

</div>