<% provide(:has_map, true) %>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Warning!</strong> <%= value %>
    </div>
<% end %>

<!-- Title -->
<h4>Start your route now!</h4>

<!-- To add new location -->
<%= render 'static_page/panel_add' %>
<br>

<!-- mode of transportation -->
<%= render 'static_page/panel_mode' %>

<!-- Locations added so far -->
<h4>Selected Locations</h4>
<%= render 'static_page/panel_location' %>
<hr>

<button id="calc-btn" type="button" class="btn btn-warning">
  Calculate Routes
</button>
<hr>

<!-- Directions Panel starts -->
<%= render 'shared/panel_direction' %>

