<div class="container">
  <div class="row">

    <div class="col-md-4 sidebar">
      <div class="row">

        <h4 class="col-md-12">Your Saved Routes</h4>

        <div id="savedroutes-ins" class="col-md-12">
          <h3>Instructions</h3>
          <div>
            <p>Click to view.</p>
            <%= link_to "Delete All Routes", remove_all_routes_user_path(current_user), type: 'button', class: 'btn btn-warning' %>
          </div>
        </div>

        <%= will_paginate @routes, renderer: BootstrapPagination::Rails %>
        <div id="savedroutes-acc" class="col-md-12">
          <%= render @routes %>
        </div>

      </div>
      <hr>
      <%= link_to "Return", root_path, type: 'button', class: 'btn btn-warning' %>
    </div>

    <%= render 'shared/google_map' %>

  </div>

</div>