<div class="row">
  <div class="span6 offset3">

    <%= form_for @request do |r| %>
        <p>
          <%= r.label :mode %><br>
          <%= r.text_field :mode %><br>
        </p>
        <%= r.fields_for :constraints do |fields| %>
            <%= render "constraint_fields", f: fields %>
        <% end %>
        <%= link_to_add_fields "Add Constraint", r, :constraints %>
        <p><%= r.submit "Submit" %></p>
    <% end %>
  </div>
</div>
