<div class="route-panel" id=<%= "route-"+route.id.to_s %>>

  <h3 class="route-title"> <%= 'Route ' + route.name + '(id=' + route.id.to_s + ')' %></h3>

  <div class="route-content">
    <p>
      <%= 'Created at: ' + route.created_at.to_s(:db) %><br>
      <%= 'Name: ' + route.name %><br>
      <%= 'Mode: ' + route.mode %><br>
      <% route.steps.each_with_index do |s, i| %>
          <%= '=== Location No. ' + i.to_s + '===' %><br>
          <%= 'Name: ' + s.name %><br>
          <%= 'Geocode: ' + s.geocode %><br>
          <%= 'departure: ' + s.departure.to_s(:db) %><br>
          <%= 'arrival: ' + s.arrival.to_s(:db) %><br>
      <% end %>
    </p>
    <%= link_to 'Display', draw_route_path, remote: true, type: 'button', class: 'btn btn-info' %>
    <%= link_to 'Delete', route, method: :delete, data: { confirm: 'Are you sure?' }, type: 'button', class: 'btn btn-warning' %>
  </div>

</div>