<div class="route-panel">

  <h3 class="route-title"> <%= "Route " + route.name + "(id=" + route.id.to_s + ")" %> </h3>

  <div class="route-content">
    <p>
      <%= "Name: " + route.name %><br>
      <%= "Mode: " + route.mode %><br>
      <% route.steps.each_with_index do |s, i| %>
      <%= "=== Location No. " + i.to_s + "===" %>
        <%= "Geocode: " + s.geocode %><br>
        <%= "departure: " + s.departure.to_s %><br>
        <%= "arrival: " + s.arrival.inspect %><br>
      <% end %>
    </p>
    <%= link_to "Display", '#', type: 'button', class: 'btn btn-info' %>
    <%= link_to "Delete", route, method: :delete, type: 'button', class: 'btn btn-warning' %>
  </div>

</div>