<% if !signed_in? %>

  <%= form_for(:session, url: sessions_path, html: { class: "navbar-form navbar-right" }) do |f| %>
    <div class="form-group">
      <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
    </div>
    <%= link_to "SignUp", "#", type: "button", class: "btn btn-default btn-sm", id: "signup" %>
    <%= f.submit "LogIn", class: "btn btn-default btn-sm" %>
  <% end %>

<% elsif signed_in? %>
  <p class="navbar-text navbar-right">Signed in as
    <%= current_user.email %>
    <%= link_to "My Routes", routes_path, type: "button", class: "btn btn-link btn-sm" %>
    <%= link_to "Settings", edit_user_path(current_user), type: "button", class: "btn btn-link btn-sm" %>
    <%= link_to "Log Out", signout_path, method: :delete, type: "button", class: "btn btn-link btn-sm" %>
  </p>
<% end %>