<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "test version" %>">
  <meta name="author" content="Tianhao Zhang">
  <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

  <title><%= content_for?(:title) ? yield(:title) : "Daily Route" %></title>

  <!-- Google Maps API -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjxIMvftYWM2uDN5s5GvFSODrFs2tRWEM&sensor=false&language=en">
  </script>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- collapsible -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Daily Route</a>
    </div>
    <!-- content -->
    <div id="navbar-btn" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <% if @pagehelper_active == "Main" %>
          <li class="active"><a>Main</a></li>
        <% else %>
          <li><a href="/main">Main</a></li>
        <% end %>

        <li <% if @pagehelper_active == "Tutorial" %>
            class="active"
            <% end %>
          ><a href="/tutorial">Tutorial</a></li>
        <li <% if @pagehelper_active == "About" %>
            class="active"
            <% end %>
          ><a href="/about">About</a></li>
      </ul>
      <!-- user login logout -->
      <% if !signed_in? and @pagehelper_active == "Main"%>
        <form class="navbar-form navbar-right" id="signin-form" >
          <div class="form-group">
            <input id="email-field" type="email" class="form-control" placeholder="Email">
            <input id="password-field" type="password" class="form-control" placeholder="Password">
          </div>
          <button id="signup" type="button" class="btn btn-default btn-sm">SignUp</button>
          <button id="signin" type="button" class="btn btn-default btn-sm">LogIn</button>
        </form>
      <% elsif signed_in? %>
        <p class="navbar-text navbar-right">Signed in as
          <%= current_user.email %>
          <button id="home-btn" type="button" class="btn btn-link btn-sm">Home</button>
          <button id="logout-btn" type="button" class="btn btn-link btn-sm">LogOut</button>
        </p>
      <% end %>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>