<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "test version" %>">
  <meta name="author" content="Tianhao Zhang">
  <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

  <title>
    <%= content_for?(:title) ? yield(:title) : "Daily Route" %>
  </title>


  <% if content_for?(:has_map) %>
      <!-- Google Maps API -->
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjxIMvftYWM2uDN5s5GvFSODrFs2tRWEM&sensor=false&language=en">
      </script>
      <%= javascript_include_tag 'map' %>
  <% end %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'layouts/navbar' %>

<%= yield %>

</body>
</html>